{% block title %} My Blog{% endblock %}

{% block content %}
    <header id="main-navigation"> 
        <h1><a href="">Yahya's Blog</a></h1>
        <nav>
            <a href="">All Posts</a>
        </nav>
    </header>
    <section id="welcome">
    <header>
        <img src="" alt="Yahya - The Author of This Blog">
        <h2>YAHYA'S BLOG</h2>
        <p>Hi, I am Yahya and I love to blog about Tech and the World!</p>
    </header>
    </section>
    <section id="latest-posts">
        <h2>My Latest Thoughts</h2>
        <ul>
            <li>
                <article class="post">
                </article>
            </li>
        </ul>
    </section>
{% endblock %}